In [6]:
import pandas as pd

Input variables:
   # bank client data:
   1 - age (numeric)
   2 - job : type of job (categorical: "admin.","unknown","unemployed","management","housemaid","entrepreneur","student",
                                       "blue-collar","self-employed","retired","technician","services") 
   3 - marital : marital status (categorical: "married","divorced","single"; note: "divorced" means divorced or widowed)
   4 - education (categorical: "unknown","secondary","primary","tertiary")
   5 - default: has credit in default? (binary: "yes","no")
   6 - balance: average yearly balance, in euros (numeric) 
   7 - housing: has housing loan? (binary: "yes","no")
   8 - loan: has personal loan? (binary: "yes","no")
   # related with the last contact of the current campaign:
   9 - contact: contact communication type (categorical: "unknown","telephone","cellular") 
  10 - day: last contact day of the month (numeric)
  11 - month: last contact month of year (categorical: "jan", "feb", "mar", ..., "nov", "dec")
  12 - duration: last contact duration, in seconds (numeric)
   # other attributes:
  13 - campaign: number of contacts performed during this campaign and for this client (numeric, includes last contact)
  14 - pdays: number of days that passed by after the client was last contacted from a previous campaign (numeric, -1 means client was not previously contacted)
  15 - previous: number of contacts performed before this campaign and for this client (numeric)
  16 - poutcome: outcome of the previous marketing campaign (categorical: "unknown","other","failure","success")

Output variable (desired target):
  17 - y - has the client subscribed a term deposit? (binary: "yes","no")

In [12]:
df = pd.read_csv('bank_marketing_data.csv')
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day_of_week,month,duration,campaign,pdays,previous,poutcome,term_deposit_subscribed,client_id
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no,9ef77186-9e9f-41af-b845-f4d9617d968b
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no,85b935ab-eab2-4800-a217-a24d21e47e40
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no,c211d4e8-f8e8-4ea4-bbe4-129969955dfb
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no,00019a06-3657-4c81-9f86-b49459e65c4e
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no,56209b3f-8ecb-46f1-9f30-3cfd03af768e

In [13]:
df["term_deposit_subscribed"].value_counts()

term_deposit_subscribed
no     39922
yes     5289
Name: count, dtype: int64

In [14]:
df_no = df[df["term_deposit_subscribed"] == "no"]
df_yes = df[df["term_deposit_subscribed"] == "yes"]

In [16]:
df_no_sample = df_no.sample(len(df_yes))
len(df_no_sample)

5289

In [17]:
new_df = pd.concat([df_yes, df_no_sample])
print(len(new_df))

10578

In [18]:
new_df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day_of_week,month,duration,campaign,pdays,previous,poutcome,term_deposit_subscribed,client_id
83,59,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes,f55172c6-3ac5-4f2f-b087-79728b2a9484
86,56,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes,29d957c5-4a51-4ee2-9116-d5fc1f871e5b
87,41,technician,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes,961c5337-0be1-4c81-9aed-8b214369d0a6
129,55,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes,cc330f56-1d71-4655-84df-ecadfc28fda0
168,54,admin.,married,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes,8e78866a-a278-4299-91ed-bf48a93806e2

In [21]:
from sklearn.model_selection import train_test_split

train_data, test_data = train_test_split(new_df, random_state=24, test_size=0.2, stratify=new_df["term_deposit_subscribed"])

print(len(train_data))
print(len(test_data))

8462
2116

In [23]:
train_data.to_csv("artifacts/data/train_data_balanced.csv", index=False)
test_data.to_csv("artifacts/data/test_data_balanced.csv", index=False)

In [10]:
sample_data = df.sample(10)

sample_data.head()

,age,job,marital,education,default,balance,housing,loan,contact,day_of_week,month,duration,campaign,pdays,previous,poutcome,term_deposit_subscribed,client_id
24772,57,management,married,tertiary,no,2101,no,no,cellular,18,nov,101,5,-1,0,unknown,no,15bc8ff9-e51c-4ce1-b37e-b43a303fd50a
15716,32,blue-collar,divorced,secondary,no,-289,yes,yes,cellular,21,jul,808,5,-1,0,unknown,no,4c7756b7-9ab2-44c1-8ce6-ba3b89bfb0b8
31753,48,management,divorced,tertiary,no,351,yes,no,cellular,7,apr,725,3,-1,0,unknown,no,a3ee40d5-9727-4421-96d4-8679f76dab57
38883,31,technician,married,tertiary,no,4575,yes,no,telephone,18,may,28,1,-1,0,unknown,no,1e834597-e309-464d-bdca-f4371cd9c173
21472,58,admin.,married,unknown,no,2180,no,no,cellular,18,aug,273,4,-1,0,unknown,no,2ada8846-4776-4c02-8294-19709d84258a

In [11]:
sample_data.to_csv("data/test_data.csv", index=False)

In [12]:
sample_data.columns

Index(['age', 'job', 'marital', 'education', 'default', 'balance', 'housing',
       'loan', 'contact', 'day_of_week', 'month', 'duration', 'campaign',
       'pdays', 'previous', 'poutcome', 'term_deposit_subscribed',
       'client_id'],
      dtype='object')

In [7]:
import pandas as pd

test_data = pd.read_csv("artifacts/data/test_data.csv")
print(len(test_data))

9043

In [8]:
df = pd.read_csv("/Users/silaspenda/Desktop/workspace/my_projects/Finance_Product_Recommendation_System/artifacts/evaluation/experiment_5/pred.csv")
df.head()
print(len(df))

20

In [9]:
df.isna().sum()

age                        10
job                        10
marital                    10
education                  10
default                    10
balance                    10
housing                    10
loan                       10
contact                    10
day_of_week                10
month                      10
duration                   10
campaign                   10
pdays                      10
previous                   10
poutcome                   10
term_deposit_subscribed    10
client_id                  10
pred_subscription          10
dtype: int64